<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonials</h2>
                    <h3 class="section-subheading text-muted">Come as crew, leave as a friend.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tereza</h4>
                                    <h4 class="subheading">Liveaboard</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sailing with Alex had been such a positive experience! He's got this unique laid back yet proactive and disciplined approach, which makes for lovely days at anchor, taking it easy and at the same time enjoying life to the fullest. On passages he was just so well tempered, supportive and caring, always making sure his crew is happy and...well fed. Acid rain classic, please!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pol</h4>
                                    <h4 class="subheading">Liveaboard</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our experience on Acid Rain was wonderful. We came from Barcelona to spend a few days off the radar in Isla Graciosa, Lanzarote, and it turned out to be much more than that. It seemed as if time slowed down and every little thing gained presence. Waking up with the sea, practicing yoga on the beach, enjoying healthy lazyness, eventual adventures, chilling conversations, incredible dinners by the hand of Alex, a great cook and fall asleep like in mother's belly with the rocking of the waves.<br>We felt more than welcome and receive a friendly and caring attention from Alex. Returned to our homes completely renewed with the desire of more time for reconnection.  We feel deeply thankful for the opportunity and hope to repeat it. 
                                    <br>We would recommend it to anyone who wishes to have a moment to see things from another perspective.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Diana</h4>
                                    <h4 class="subheading">Liveaboard</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined Alex and his crew for a passage from Guadiana river to Gibraltar and back, which lasted almost a week. One of the nicest sailing experiences I've ever had! Alex is a great skipper, chilled and easy going and at the same time very serious about safety. He knows the boat inside out and can fix everything there. Thanks to his guidance I completed my RYA Day Skipper course without a problem! Alex adopted an abandoned cat who turned to be an amazing first mate. Very respectful, clean and clever! Both the cat and the skipper actually! ;) If I cross paths with them again, I'll be delighted to hop on Acid Rain for another lovely sailing experience.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Zoltan</h4>
                                    <h4 class="subheading">Milebuilder</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I planned to do a milebuilder for a week on SV Acid Rain, but due to a lucky accident, one week turned into three and I had the privilege to meet amazing people while on board. Alex is an excellent skipper who never looses his temper and I learned a lot during our 600NM passage. It was definitely not my last time aboard and I'm already looking forward to the next one!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Beccy</h4>
                                    <h4 class="subheading">Liveaboard</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I happened to meet Alex and his crew whilst on holiday in Playa Blanca, Lanzarote. Feeling a bit claustrophobic in the built-up tourist area, I ended up spontaneously extending my holiday so I could stay aboard Acid Rain and see the island from a more unique perspective. Despite booking on last minute, Alex was an amazing host who made me feel at home the second I stepped aboard. Evenings with great conversation, the most delicious home-cooked meals and looking out to sea to watch the sunset... I will definitely return to stay with Alex on his travels in the future!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jay, Chiara & Shaka</h4>
                                    <h4 class="subheading">Boat neighbours/buddy sailing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Alex is the best ocean neighbour we could have asked for, anytime we need something he's there for us whether it is food, a gas bottle to finsih cooking dinner or to push us to be constant with yoga. We met in the yard in Portugal and have been buddy sailing since, hopefully for the rest of the year too! He is a great sailor and we have loved meeting the crew that steps on Acid Rain. If you come onboard you'll meet us too and have a ton of fun.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/testimonials/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lukas</h4>
                                    <h4 class="subheading">Liveaboard</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I've had an amazing time staying on Acid Tain for 9 days on La Graciosa. Being my first stay on a sailboat, I was very glad Alex was the captain. He is a great person who always tries to make everyone happy on board. As a newbie, I was fortunate to learn some things about sailing and sailing life and Alex was great at teaching about it. Having a professional chef as Captain was wonderful and with Patches around you always have a great company. If you chose Acid rain you will have an amazing time with even more amazing people. I'm definitely looking forward to seeing Alex again and I'm very glad I had this amazing opportunity. Come as crew leave as a friend!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>This
                                    <br>could be
                                    <br>You :)</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>